{% extends 'layout.twig' %}

{% block body %}
<div class="container">
    <h1 id="main-title">{{title}}</h1>
    <p id="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus fuga sed magni placeat harum
        minima. At nam doloribus esse tenetur totam accusantium ipsam voluptas, hic aut saepe qui laboriosam quam.</p>
</div>
{% endblock %}

{% block scripts %}
<script src="/javascripts/index.js"></script>
{% endblock scripts %}